<% if current_user.premium? || current_user.admin? %>
  <div class="form-group">
    <%= form_for [@wiki, Collaborator.new] do |f| %>
      <h3> Add collaborators</h3>
      <%= f.label "Available Users " %><br>
      <%= f.select :user_id, options_from_collection_for_select(@users ,:id, :email) %>
      <%= f.submit "Add", class: 'btn btn-success' %>
    <% end %>
    <!-- TODO add a comment about .new later -->
    <%= form_for [@wiki, Collaborator.new], method: :delete do |f| %>
      <h3> Remove collaborators</h3>
      <%= f.label "Current Collaborators" %><br>
      <%= f.select :id, options_from_collection_for_select( @wiki.collaborators.includes(:user).all, :id, :email )%> <!-- eager loading -->
      <%= f.submit "Remove", class: 'btn btn-success' %>
    <% end %>
  </div>
<% end %>
